---
import { Container } from '../../ui/Container.ui'
import FooterLogo from './FooterLogo.astro'
import FooterNav from './FooterNav.astro'
import FooterSocial from './FooterSocial.astro'
---
<footer class='footer'>
	<Container>
		<div class={'footer-row'}>
			<FooterLogo />
			<FooterNav />
			<FooterSocial />
		</div>
	</Container>
</footer>
		