---
import { Image } from 'astro:assets'
---
<div class='footer-logo'>
	<div class='flex sm:gap-[24px] items-center mb-[42px] bg-white sm:max-w-[400px] py-[20px] px-[10px] rounded-[10px] w-full justify-between'>
		<Image src={'/assets/icons/logo.svg'} alt={'footer-logo'} width={52} height={81}/>
		<Image src={'/assets/header/title.png'} alt={'footer-logo-title'} width={284} height={62}/>	
	</div>
	<h1 class='text-[18px] font-medium leading-[32px] pl-[35px] sm:text-base text-center sm:mb-0 mb-[35px]'>Oil & Petroleum Company</h1>
</div>