---
import { Image } from 'astro:assets'
---


<div class={'sm:flex block mx-auto items-center gap-[24px]'}>
	<Image
	src={'/assets/icons/logo.svg'}
	alt={'Logo'}
	width={52}
	height={82}
	loading={"eager"}
	class={'mx-auto'}
	/>
	<Image
	src={'/assets/header/title.png'}
	alt={'Logo-with-title'}
	width={284}
	height={62}
	loading={"eager"}
	/>
</div>

