---
import { Container } from '../../ui/Container.ui'
import { HeaderBurger } from './HeaderBurger'
import HeaderLogo from './HeaderLogo.astro'
import { HeaderNav } from './HeaderNav'
---

<header class='sm:mb-[140px] mb-[53px]'>
	<Container>
		<div class={'flex items-center  sm:gap-[122px]'}>
			<HeaderBurger client:load />
			<HeaderLogo />
			<HeaderNav client:load />
		</div>
	</Container>
</header>
	

