---
import { Image } from 'astro:assets'
import { ButtonArrow } from '../ui/ButtonArrow.ui'
import { Container } from '../ui/Container.ui'
import { WrapperContentSection } from '../ui/Wrapper.ui'
---

<WrapperContentSection isAnimation={true} classStyle='section_content_about relative' sectionId="aboutUs" client:load>
	<Container>
		<div class='sm:flex sm:gap-[90px] sm:items-center relative'>
			<div class='space-y-[27px] max-w-[800px] sm:py-[195px] pt-[140px] sm:pl-[126px] px-[20px]'>
				<div class='about-sup-tile__line'>
					<div></div>
					<h2 class='sup-tile'>About us</h2>
				</div>
				<h1 class='text-[64px] text-white font-semibold leading-normal'>About Our Company</h1>
				<div>
					<p class='text-[18px] text-white leading-[32px] font-normal'>We are an international oil & gas engineering company delivering innovative solutions for upstream, midstream, and downstream projects. Our mission is to combine technology, safety, and sustainability to support global energy demands while ensuring efficiency and reliability.</p>
				</div>
				<ButtonArrow title='read more' rotate='cursor-pointer text-[18px]' textItems='sm:text-right text-base cursor-pointer text-subTitle' justifyItems="justify-baseline" icon='/assets/icons/arrow-01.svg' />
			</div>
			<div class="w-full sm:block hidden">
				<Image src={'/assets/main/about.png'} alt={'about'} width={566} height={720} sizes="(max-width: 639px) 100vw, 566px" class="w-full h-[284px] sm:h-[720px] object-cover"/>
			</div>
			<div class='about-section__order'>
				<h1>01</h1>
			</div>
		</div>
	</Container>
	<div class="w-full sm:hidden block">
		<Image src={'/assets/main/about.png'} alt={'about'} width={566} height={720} sizes="(max-width: 639px) 100vw, 566px" class="w-full h-[284px] object-cover"/>
	</div>
</WrapperContentSection>