---
import { Image } from 'astro:assets'
import { Container } from '../ui/Container.ui'
import { WrapperContentSection } from '../ui/Wrapper.ui'
---

<WrapperContentSection classStyle='section-location'  sectionId="locations" client:load>
	<Container>
		<h2 class='sup-tile sm:mb-[35px] mb-[15px]'>LOCATIONS</h2>
		<div class='sm:flex sm:justify-between block'>
			<div class='max-w-[482.456px]'>
				<div class='relative'>
					<h2 class='sm:text-[64px] text-[40px] font-semibold sm:leading-normal leading-relaxed sm:mb-0 mb-[30px]'>Countries in which we operate</h2>
					<Image src={'/assets/shared/content-logo.png'} alt={'content-logo'} width={88} height={113} class={'sm:absolute -top-[30px] -right-[30px] hidden'}/>
				</div>
			</div>
			<div class='sm:max-w-[482.456px] w-full sm:mb-0 mb-8'>
				<p class='text-[18px] leading-[32px] font-medium'>We operate on almost all continents. We have offices in Azerbaijan, Turkey, Georgia, Ukraine, Russia, UAE, Kazakhstan, Turkmenistan and other countries.</p>
			</div>
		</div>
		<div class='-mt-[5%]'>
			<div class='relative'>
				<Image src={'/assets/icons/location.svg'} alt={'map'} width={1462} height={669}/>
				<!-- Ru -->
				<Image src={'/assets/lines/01.png'} alt={'ru'} width={250} height={306} class={'absolute sm:w-[250px] sm:h-[306px] sm:top-[75px] sm:right-[535px] w-[150px] h-[206px] top-[20px] right-[160px]'}/>
				<!-- UK -->
				<Image src={'/assets/lines/02.png'} alt={'uk'} width={89} height={336} class={'absolute sm:w-[89px] sm:h-[336px] sm:top-[88px] sm:right-[610px] w-[50px] h-[136px] top-[30px] right-[200px]'}/>
				<!-- TK -->
				<Image src={'/assets/lines/03.png'} alt={'tk'} width={71} height={345} class={'absolute sm:w-[71px] sm:h-[345px] sm:top-[120px] sm:right-[570px] w-[40px] h-[200px] top-[35px] right-[170px]'}/>
				<!-- UAE -->
				<Image src={'/assets/lines/04.png'} alt={'uae'} width={38} height={200} class={'absolute sm:w-[38px] sm:h-[200px] sm:top-[206px] sm:right-[525px] w-[18px] h-[100px] top-[70px] right-[165px]'}/>
				<!-- AZB -->
				<Image src={'/assets/lines/05.png'} alt={'azb'} width={115} height={444} class={'absolute sm:w-[115px] sm:h-[444px] sm:top-[127px] sm:right-[444px] w-[70px] h-[222px] top-[40px] right-[120px]'}/>
				<!-- GS -->
				<Image src={'/assets/lines/06.png'} alt={'gs'} width={119} height={204} class={'absolute sm:w-[119px] sm:h-[204px] sm:top-[115px] sm:right-[415px] w-[60px] h-[80px] top-[35px] right-[110px]'}/>
				<!-- KAZ -->
				<Image src={'/assets/lines/07.png'} alt={'kaz'} width={125} height={336} class={'absolute sm:w-[125px] sm:h-[336px] sm:top-[100px] sm:right-[360px] w-[50px] h-[130px] top-[30px] right-[105px]'}/>
				<!-- TM -->
				<Image src={'/assets/lines/08.png'} alt={'tm'} width={200} height={437} class={'absolute sm:w-[200px] sm:h-[437px] sm:top-[130px] sm:right-[280px] w-[70px] h-[150px] top-[45px] right-[83px]'} />
			</div>
		</div>
	</Container>
</WrapperContentSection>