---
import { Button } from '../ui/Button.ui'
import { ButtonArrow } from '../ui/ButtonArrow.ui'
import { Container } from '../ui/Container.ui'
---

<section class='relative sm:mb-[653px] mb-[95px]'>
	<Container>
		<div class='space-y-[32px] sm:w-[1272px] w-[400px] mx-auto'>
			<div class='solution_sub-title'>
				<div></div>
				<h1>Powering the Future of Oil & Gas</h1>
			</div>

			<h2 class='solution-title'>Cutting-edge solutions for exploration, production, and energy logistics worldwide.</h2>

			<Button title='Contact us'/>
			<ButtonArrow title='scroll down' rotate='sm:-rotate-90 rotate-360 cursor-pointer' textItems="text-right cursor-pointer" justifyItems="justify-end" icon='/assets/icons/arrow-02.svg'  />
		</div>
	</Container>
</section>