---
import '../styles/global.css'
import { Wrapper, WrapperContent } from '../ui/Wrapper.ui'
import Footer from '../widget/footer/Footer.astro'
import Header from '../widget/header/Header.astro'

const { title } = Astro.props as {title: string}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/icons/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Wrapper>
			<Header />
			<WrapperContent>
				<slot />
			</WrapperContent>
			<Footer />
		</Wrapper>
	</body>
</html>